<%- include('../master_user/header.ejs') %>
    <div class="area-bg" style="background-image: url('/uploads/bg/breadcrumb_bg.jpg');">
        <header class="transparent-header">
            <div class="header-top-wrap">
                <div class="container custom-container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="header-top-left">
                                <ul class="list-wrap">
                                    <li class="header-location">
                                        <i class="fas fa-map-marker-alt"></i>
                                        238 Hoàng Quốc Việt, Hà Nội
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <a href="mailto:truong20030205@gmail.com">truong20030205@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="header-top-right">
                                <div class="header-top-menu">
                                    <ul class="list-wrap">
                                        <% if (userAuthenticated) { %>
                                            <li><a href="/account/profile">Hi, <%= user.name %></a></li>
                                            <li><a href="/account/favorite">Favorites</a></li>
                                            <li><a href="/order/history">History</a></li>
                                            <li><a href="logout">Logout</a></li>
                                            <% } else { %>
                                                <li><a href="/register">Register</a></li>
                                                <li><a href="/login">Login</a></li>
                                                <% } %>
                                    </ul>
                                </div>
                                <div class="header-top-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sticky-header" class="menu-area">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-wrap">
                                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                                <nav class="menu-nav">
                                    <div class="logo">
                                        <a href="/"><img src="/uploads/logo/logo1.png" alt="Logo"></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about">ABOUT US</a></li>
                                            <li class="menu-item-has-children"><a href="#">PRODUCTS</a>
                                                <ul class="sub-menu">
                                                    <% categories.forEach(function(ch) { %>
                                                        <li><a href="/category/<%= ch.id %>">
                                                                <%= ch.name %>
                                                            </a></li>
                                                        <% }); %>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="/blog">BLOG</a>

                                            </li>
                                            <li class="menu-item-has-children"><a href="/page">PAGES</a>

                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul class="list-wrap">
                                            <li class="header-search">
                                                <a href="#"><i class="flaticon-search"></i></a>
                                            </li>
                                            <li class="header-shop-cart">
                                                <a href="/cart">
                                                    <i class="flaticon-shopping-basket"></i>
                                                    <span>
                                                        <%= carts.length %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="header-btn"><a href="tel:0123456789" class="btn">+84 999 999
                                                    999</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>

                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo">
                                        <a href="/"><img src="/uploads/logo/logo.png" alt="Logo"></a>
                                    </div>
                                    <div class="menu-outer">
                                        <!-- Menu will be automatically populated by JavaScript -->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- header-search -->
            <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="search-wrap text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="search-form">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your keyword...">
                                        <button class="search-btn"><i class="flaticon-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-backdrop"></div>
            <!-- header-search-end -->
        </header>
        <section class="breadcrumb-area tg-motion-effects breadcrumb-bg"
            data-background="/uploads/bg/breadcrumb_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content">
                            <h2 class="title">Blogs</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">blogs</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->
        <section class="blog-area blog-bg" data-background="uploads/bg/blog_bg.jpg">
            <div class="container custom-container-five">
                <div class="blog-inner-wrap">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="uploads/blog/blog_img01.jpg" alt=""></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta-two">
                                        <ul class="list-wrap">
                                            <li><a href="blog-details.html">Jon Deo</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-comment-alt"></i>Comm
                                                    (0)</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-bookmark"></i>horse
                                                    meat</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="title"><a href="blog-details.html">Necessary for the Human Body</a></h2>
                                    <p>Meat provide well shaped fresh and the organic meat well animals is Humans ha
                                        hunted schistoric times meat, the flesh or other edible parts of animals usually
                                        domesticated cattle, swine, and sheep used for food, including not only the
                                        muscles also the tendons.</p>
                                    <a href="blog-details.html" class="link-btn">Read more<i
                                            class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="uploads/blog/blog_img02.jpg" alt=""></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta-two">
                                        <ul class="list-wrap">
                                            <li><a href="blog-details.html">Jon Deo</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-comment-alt"></i>Comm
                                                    (0)</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-bookmark"></i>horse
                                                    meat</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="title"><a href="blog-details.html">Garden Fresh Market Vernon Hills</a>
                                    </h2>
                                    <p>Meat provide well shaped fresh and the organic meat well animals is Humans ha
                                        hunted schistoric times meat, the flesh or other edible parts of animals usually
                                        domesticated cattle, swine, and sheep used for food, including not only the
                                        muscles also the tendons.</p>
                                    <a href="blog-details.html" class="link-btn">Read more<i
                                            class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <a href="blog-details.html"><img src="uploads/blog/blog_img03.jpg" alt=""></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta-two">
                                        <ul class="list-wrap">
                                            <li><a href="blog-details.html">Jon Deo</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-comment-alt"></i>Comm
                                                    (0)</a></li>
                                            <li><a href="blog-details.html"><i class="far fa-bookmark"></i>horse
                                                    meat</a></li>
                                        </ul>
                                    </div>
                                    <h2 class="title"><a href="blog-details.html">Necessary for the Human Body</a></h2>
                                    <p>Meat provide well shaped fresh and the organic meat well animals is Humans ha
                                        hunted schistoric times meat, the flesh or other edible parts of animals usually
                                        domesticated cattle, swine, and sheep used for food, including not only the
                                        muscles also the tendons.</p>
                                    <a href="blog-details.html" class="link-btn">Read more<i
                                            class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="blog-sidebar">
                                <div class="blog-widget">
                                    <h4 class="sw-title">Search</h4>
                                    <div class="sidebar-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search...">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="blog-widget">
                                    <h4 class="sw-title">Category</h4>
                                    <div class="sidebar-cat-list">
                                        <ul class="list-wrap">
                                            <li><a href="#">Horse Meat <span>(3)</span></a></li>
                                            <li><a href="#">Branding <span>(5)</span></a></li>
                                            <li><a href="#">Gallery <span>(3)</span></a></li>
                                            <li><a href="#">Fresh Meat <span>(2)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-widget">
                                    <h4 class="sw-title">Recent Post</h4>
                                    <div class="rc-post-list">
                                        <div class="rc-post-item">
                                            <div class="thumb">
                                                <a href="blog-details.html"><img src="uploads/blog/rc_post_img01.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="content">
                                                <h4 class="title"><a href="blog-details.html">Sources of protein
                                                        elit</a></h4>
                                                <span class="date"><i class="fas fa-calendar-alt"></i>January 30,
                                                    2023</span>
                                            </div>
                                        </div>
                                        <div class="rc-post-item">
                                            <div class="thumb">
                                                <a href="blog-details.html"><img src="uploads/blog/rc_post_img02.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="content">
                                                <h4 class="title"><a href="blog-details.html">Different Types Meat</a>
                                                </h4>
                                                <span class="date"><i class="fas fa-calendar-alt"></i>January 30,
                                                    2023</span>
                                            </div>
                                        </div>
                                        <div class="rc-post-item">
                                            <div class="thumb">
                                                <a href="blog-details.html"><img src="uploads/blog/rc_post_img03.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="content">
                                                <h4 class="title"><a href="blog-details.html">Eat meat and poultry</a>
                                                </h4>
                                                <span class="date"><i class="fas fa-calendar-alt"></i>January 30,
                                                    2023</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-widget">
                                    <div class="sidebar-add-banner">
                                        <a href="#"><img src="uploads/blog/add_banner.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="blog-widget">
                                    <h4 class="sw-title">Tags</h4>
                                    <div class="sidebar-tag-list">
                                        <ul class="list-wrap">
                                            <li><a href="#">Food</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Types</a></li>
                                            <li><a href="#">Cow Meats</a></li>
                                            <li><a href="#">Protein</a></li>
                                            <li><a href="#">Horse Meat</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include('../master_user/footer.ejs') %>